// Overkill reset
$txt: black;
$theme: goldenrod;
$theme-txt: white;

input,
button {
    all: unset;
    box-sizing: inherit;
    display: block;
    border: 1px solid $theme;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 4px;
}

button {
    cursor: pointer;
    text-align: center;
    background-color: $theme;
    color: $theme-txt;
    grid-column: span 2;
}

form {
    border-radius: 8px;
    margin: 48px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
}
